
body {
  background-color:slategray;
}


.jumbotron {
  background-image: url("../images/950x534-little-green-leaves-free-website-background-image.jpg");
  background-size: 250% 250%;
  color: black;
  font-family: cursive;
}

.div.h3 {
  text-align: right;
}





